@use 'base/variables' as v; 
@use 'base/mixins' as m; 

.header{
    background-color: v.$blanco;

    &__grid{
        padding-top: 3rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__bar-left{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        @include m.tablet {
            justify-content: unset;
        }
    }
    &__bar-right{
        display: flex;
        gap: 3rem;
        position: relative;
        visibility: hidden;
        opacity: 0;
        height: 0;
        width: 0;
        @include m.tablet {
            visibility: visible;
            opacity: 1;
            height: auto;
            width: auto;    
        }
    }
    &__btn{
        color: v.$negro;
        padding: 1rem 2rem;
        cursor: pointer;
        &--borde{
            border: 1.5px solid v.$negro;
            border-radius: 1rem;
        }
    }
}

.navegacion{
    @include m.tablet {
        position: relative;
        margin-left: 2rem;
    }
    
    &__hamburguer{
        cursor: pointer;
        @include m.tablet {
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    &__menu-close{
        cursor: pointer;
        position: absolute;
        z-index: 2;
        right: 1.4rem;
        top: 3rem;
        @include m.tablet {
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    
    &__ul{
        margin: 0;
        padding: 7rem 2rem;
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        height: 100vh;
        width: 70vw;

        @include m.tablet {
            position: unset;
            visibility: visible;
            opacity: 1;
            height: auto;
            width: auto; 
            display: flex;
            align-items: center;
            padding: 0;
            background-color: v.$blanco;
        }
        @include m.desktop {
            gap: 3rem; 
        }     
    } 
    &__li{
        list-style: none;
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        gap: .5rem;  
        width: 11rem;
        &:nth-child(3), &:nth-child(4){
            padding-bottom: 2rem;
        }
        @include m.tablet {
            padding-bottom: 0;
            display: flex;
            align-items: center;
            &:nth-child(3), &:nth-child(4){
                padding-bottom: 0;
            }
        }  
        :hover{
            color: v.$negro;
        }
    }
    &__link{
        color: v.$gris;  
    }

    &__sub-ul{
        padding: 1rem 2rem ;
        grid-row:2/3 ;

        @include m.tablet {
            background-color: white;
            -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.273);
            -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.273);
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.273);
            position: absolute;
            top: 150%;
            padding: 2rem;
            border-radius: .7rem;
            &--left{
                left: -5%;
            }
            &--right{
                left: 32%;
            }
        }  
    }
    &__sub-li{
        list-style: none;
        margin-bottom: 2rem;
        width: 12rem;
        @include m.tablet {
            margin-bottom: 1rem;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    &__sub-link{
        display: flex;
        gap: 1rem;
        align-items: center;
        &:visited{
            color: v.$gris;
        }
    }
}
